
.projects-section {
    padding: 40px;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.grid-item {
    border-radius: 4px;
    text-align: center;
    font-size: 1.25rem;
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 0px 15px;
    overflow: hidden;
}

.focus-project {
    grid-row: 1 / span 2;
}

.focus-image, .project-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slick-prev {
    left: -5
}

.slick-next {
    right: -5
}

.slick-next:before {
    content: none;
}

.slick-prev:before {
    content: none;
}

.slider-option{
    margin: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    width: auto!important;
}

.slick-slider {
    overflow: visible;
}

.projects-section h2 {
    text-align: center;
}

.arrow {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Responsive Media Queries */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .focus-project {
        grid-row: auto;
    }
}


    