.testimonials-section {
    padding: 20px;
    text-align: center;
    background: white;
    position: relative;
  }

  .testimonials-title{
    font-size: 2em;
    margin-top: 5vh;
  }

  .higlighted{
    text-decoration: wavy;
    color: #008ad5;;
  }
  
  .testimonials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    padding: 20px;
    margin: 15px;
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    z-index: 2;
    transition: transform 1s ease-in-out; /* Add transition for smooth scaling */
  }
  
  .testimonial:hover {
    transform: scale(1.02); /* Scale the element by a factor of 1.1 on hover */
  }
  
  
  .quote {
    font-style: italic;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .name {
    font-weight: bold;
    font-size: 14px;
  }
  
  .designation {
    font-size: 12px;
    color: #777;
  }

  .stars {
    width: 150px
  }

  .quote-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    z-index: 1;
    animation: floating 3s ease-in-out infinite;
  }
  
  @keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  