.loader{
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: linear-gradient(to right, #006296, #70c2bb);
    z-index: 100;
    position: absolute;

    .load-container{
        display: flex;
        flex-direction: column;
        overflow: visible;
        align-items: center;
    
        svg{
            margin-bottom: 10px;
        }
        
    }
    

}


.app {
    height: 100vh;
    width: 100%;
    

    .sections{
        position: relative;
        top: 70px;
        background-color: rgba(0, 191, 255, 0);
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none
        }

        .section {
            margin: 100px
        }
    }
}