* {
    scroll-behavior: smooth;
  }


.app {
    height: 100vh;
    width: 100%;
    

    .sections{
        position: relative;
        top: 70px;
        background-color: rgba(0, 191, 255, 0);
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none
        }

        .section {
            margin: 100px
        }
    }
}

.section-title {
    font-size: 2em;
    margin-bottom: 50px;
}